.title-edit {
  position: relative; /* permet au bouton d'être positionné par rapport à ce conteneur */
  text-align: center; /* centre le h2 */
}

.edit-btn {
  all: unset;
  position: absolute;
  left: 65%; /* ajuste la position horizontale du bouton */
  top: 50%; /* place au milieu verticalement */
  transform: translateY(-50%);
  cursor: pointer;
}

.edit-btn i {
  margin-right: 5px;
}

.btn {
  all: unset;
  padding: 1rem;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  transition: all 0.3s;
  cursor: pointer;
  justify-content: center;
}
.btn-work {
  font-family: "work sans";
  font-weight: 500;
}
.btn-syne {
  font-family: "Syne";
  font-weight: 700;
}
.btn-grey {
  background-color: #cbd6dc;
  color: #306685;
}

.btn-darkgrey {
  background-color: #a7a7a7;
  color: #ffffff;
}

.btn-green {
  background-color: #1d6154;
  color: #ffffff;
}

.btn-green:hover {
  background-color: #0e2f28;
}

.overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal {
  width: 50%;
  background-color: #fffef8;
  padding: 1rem;
  border-radius: 10px;
}

.header__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.return_icon {
  justify-content: flex-start;
  visibility: hidden;
}

/*à utiliser pour changer le titre*/
.header__modal h3 {
  font-family: "work sans";
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 2rem;
}

/* à mettre en display none*/
.gallery-photo {
  display: block;
}
.gallery_modal {
  width: 80%;
  margin: auto;
  border-bottom: solid #b3b3b3 1px;
  padding-bottom: 5rem;
}
.gallery_modal ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colonnes égales */
  gap: 0.5rem; /* espace entre les images */
}

.gallery_modal ul li {
  list-style: none;
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;
}

.image_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.trash_icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.trash_icon i {
  color: white;
  background: black;
  padding: 5px;
}

.modal-container-btn {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.ajout-photo {
  display: none;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border-bottom: solid #b3b3b3 1px;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}
.photo-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #e8f1f6;
  border-radius: 3px;
  gap: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.photo-placeholder img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.photo-icon i {
  color: #b9c5cc;
  font-size: 4rem;
}

.photo-placeholder p {
  font-family: "work sans";
  font-size: 10px;
  color: #444444;
}
.ajout-photo form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ajout-photo form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.ajout-photo form label {
  margin: 2em 0 1em 0;
}
.ajout-photo form select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
