.filters {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  gap: 10px;
  margin-bottom: 20px;
}
.filter-btn {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  margin: 2em auto;
  background: transparent;
  padding: 10px 20px;
  text-align: center;
  border-radius: 60px;
  border: solid 1px #1d6154;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.filter-btn:hover {
  background-color: #1d6154;
  color: white;
}

.selected {
  background-color: #1d6154;
  color: white;
}
